[submodule "includes/minilibx-linux"]
	path = includes/minilibx-linux
	url = https://github.com/42paris/minilibx-linux.git
[submodule "sources/utilities/Libft"]
	path = sources/utilities/Libft
	url = git@github.com:cuistobal/Libft.git
[submodule "minilibx-linux"]
	path = minilibx-linux
	url = https://github.com/42paris/minilibx-linux.git
